<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarkPhoto-WorkOrHome.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9918E85F2984723600D4F80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9918E8742984723600D4F80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9918E87E2984723600D4F80A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
